<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Budgtr</title>
  </head>
  <body>
    <div class="container">
      <h1><%= budget.name %></h1>
      <button onclick="location.href='/budgets'">BACK</button>
      <!-- <% for(let i = 0; i < budget.length; i++){ %>
      <p><%= budget[i] %></p>
      <p><%= budget.values() %></p>
      <% } %> -->
    </div>
  </body>
</html>
